*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.idea
*.yaml

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# wp core
/.htaccess
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/plugins/index.php
/wp-content/plugins/akismet*
/wp-content/plugins/hello.php

# ignore everything in the "wp-content" directory, except:
wp-content/*
wp-content/plugins/*
wp-content/mu-plugins/*
!wp-content/themes/

# Camunda theme
wp-content/themes/*
!wp-content/themes/twentytwenty
!wp-content/themes/camunda
wp-content/themes/camunda/assets/*
wp-content/themes/camunda/css/*
wp-content/themes/camunda/js/*
wp-content/themes/camunda/gulp/env.json

# ignore node dependency directories
node_modules/
vendor/

# ignore log files and databases
*.log
*.sql
*.sqlite

# large/disallowed file types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi